@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.tab-filter {
  filter: invert(54%) sepia(23%) saturate(30%) hue-rotate(314deg) brightness(85%) contrast(75%);
}

.tab:hover .tab-filter {
  filter: invert(54%) sepia(88%) saturate(396%) hue-rotate(63deg) brightness(89%) contrast(95%);
}

.tab:hover .small {
  color: #43b02a;
}